*{
    font-family: 'Laila', serif;
}

h1{
    font-family: 'laila', serif;
}

h3{
    font-family: 'laila', serif;
}
.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

body {
    background: #F2F7E8;
}


.searchbar {
    margin: 1rem;
  }
  
  .search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
  }
  
  .expand-search {
    width: 80%;
    max-width: calc(80% - 3rem);
    border: 1px solid #c9c9c9;
    padding: .5rem;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  .button {
    border-radius: 50px;
  }
  
  #kategorije_ikona { 
    color: rgb(241, 103, 123);
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #kategorije_naziv{
    color: black;
    text-align: center;
  }

  #okvir{
    width: 180px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 3px;
    margin-right: 3px;    
  }

  #okvir:hover{
    background-color: rgb(221, 250, 221);
  }
  
  #accordion-title{
    font-size: 30px;
  }

  #gornji{
   margin: 0 0 0 0;
  }

  
  .granica{
    border: 1px solid #c9c9c9;
  }

  p.naslov-oglasa{
    padding: 15px;
    font-size: 25px;
    margin: 0 0 0 0;
  }

  #panel1-label{
    font-size: 20px;
  }